{% block nav %}

    <nav class="navbar navbar-expand-sm navbar-dark stroke">

        <div class="navbar-content container-fluid">

            <a class="navbar-brand" href="/">
                <img class="nav-logo" src="{{ url_for('static', filename='images/WeShare.svg') }}" alt="Logo"><span
                    class="nav-logo-text">WeShare</span>
            </a>

            <h3 class="text-center mt-2 mx-auto rounded"></h3>

            <div class="d-flex align-items-center">
                <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search...">
                    <a href="#" class="search_icon"><i class="bi bi-search"></i></a>
                </div>
                <i style="font-size: 25px; color: #d9d9d9;" class="bi bi-list"></i>
                <!-- <div class="link-wrapper">
                    
                {% if 'logged_in' in session %}
                    <a class="nav-link nav-link-hover text-dark fw-bold" href="/dashboard">Home</a>
                {% else %}
                    <a class="nav-link nav-link-hover text-dark fw-bold" href="/">Home</a>
                {% endif %}
                </div>
                <a class="nav-link text-dark px-0 fs-5">|</a>
                <div class="link-wrapper">
                    {% if 'logged_in' in session %}
                        <a class="nav-link nav-link-hover text-dark fw-bold" href="/logout">Logout: {{session['logged_in']['first_name']}}</a>
                    {% else %}
                        <a class="nav-link nav-link-hover text-dark fw-bold" href="/login">Login</a>
                    {% endif %}
                </div> -->

            </div>

        </div>

    </nav>
    
{% endblock %}