<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resets.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/post_feed.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/popover.min.js') }}"></script> -->

    <!-- This js include in need to init "popover" lib for bootstraps popover and tooltips to function -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/bs_popover_tooltip_init.js') }}" defer></script> -->

    <title>Document</title>
</head>

<body style="background-color: hsl(218, 41%, 15%);">


    {% include "partials/nav.html" %}


   <!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="container">

        <div class="feed-column mx-auto" id="post_feed">
 
        {% for post in userPosts %}
            {% include "partials/post.html" %}
        {% endfor %} 

        </div>
        <!-- End of Page feed-column -->

        <!-- New post stuff -->
        <div class="new-post">
            <button class="new-post-button" onclick="document.getElementById('newpostform').classList.toggle('hide')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
            </button>
            <div class="new-post-form post-container hide" id="newpostform">
                <div class="post-background">
                    <form id="new-post-form">
                        <div class="post-image-container" id="new-post-img-container" >
                            <!-- <img class="post-image" id="new-post-img" alt=""> -->
                        </div>
                        <div class="file-select">
                            <label class="file-select-button form-button" for="upload">Select</label>
                            <input type="file" name="file" id="upload" style="opacity: 0; position: absolute; z-index: -1;" onchange="readURL(this)"/>
                            <input class="file-select-input" type="text" name="file_name_url" id="newPostFileName" placeholder="File Name..." readonly>
                        </div>
                        <div class="new-post-description">
                            <textarea class="new-post-description-input" placeholder="Description..." name="description" id="newPostDescription" cols="30" rows="5"></textarea>
                        </div>
                        <p class="new-post-form-errors form-input" id="newPostFormErrors"></p>
                        <div class="new-post-form-buttons">
                            <button class="new-form-submit form-button" onclick="event.preventDefault(); newPostUpload();">Post</button>
                            <button class="new-form-cancel form-button" type="reset" onclick="newPostFormClear()">Cancel</button>
                        </div>
                    </form>
            
                </div>
            </div>
        </div>

    </div>
    <!-- End of Page container -->


<script>
    // Set event listener on new post error message field to update css var
    document.getElementById('newPostFormErrors').addEventListener("DOMSubtreeModified", (event) => {
        document.querySelector(':root').style.setProperty('--new-post-error-message-height', event.target.clientHeight + "px");
        console.log(event.target.clientHeight) 
    }, false);

    function readURL(input) {
        var url = input.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
        if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
            var reader = new FileReader();

            reader.onload = function (e) {
                //document.getElementById("img").src = e.target.result;
                let img = document.createElement('img');
                img.id = 'new-post-img';
                img.classList.add("post-image")
                img.src = e.target.result;
                img.setAttribute(
                    'style',
                    'margin-top: 8px; margin-bottom: -4px;',
                );
                
                img.addEventListener("load", () => {
                    var root = document.querySelector(':root');
                    root.style.setProperty('--new-post-upload-image-height', (document.getElementById("new-post-img").height + 6)+ "px");
                });
                
                document.getElementById('new-post-img-container').replaceChildren(img);
            }

            reader.readAsDataURL(input.files[0]);
            document.getElementById('newPostFileName').value = event.target.files[0].name;
        }else{
            //document.getElementById("img").src = '/assets/no_preview.png';
        }
    }

    function newPostFormClear() {
        document.getElementById("new-post-form").reset()
        document.querySelector(':root').style.setProperty('--new-post-upload-image-height', "0px");
        var img = document.getElementById('new-post-img')
        if(img) img.remove();
        document.getElementById("newPostFormErrors").innerText = ""
        document.getElementById('newpostform').classList.toggle('hide');
    }

    async function newPostUpload() {
        const fileInput = document.querySelector('#upload') ;
        const formData = new FormData();
        formData.append('file', fileInput.files[0]);
        formData.append('description', document.getElementById("newPostDescription").value);
        formData.append('file_name_url', document.getElementById("newPostFileName").value);
        
        const options = {
            method: 'POST',
            body: formData,
        };
        
        await fetch('/uploader', options)
        .then(async (res) => {
            if (res.status === 200) {
                resData = await res.json();
                document.getElementById("post_feed").insertAdjacentHTML("afterbegin", resData.newPostElem)
                newPostFormClear()                
            } else if (res.status === 400 || res.status === 415) {
                resData = await res.json();
                document.getElementById("newPostFormErrors").innerText = Object.values(resData.errorMessages)[0]
                return
            } else if (res.status === 401) {
                console.log("unauthorized")
                document.getElementById("newPostFormErrors").innerText = "Logged out, Please log in again."
            }

        })
        .catch(async (err) => {
            if (!err?.response) {
                document.getElementById("newPostFormErrors").innerText = 'No Server Response'
            } 
        })
    }

    function deletePost(id) {
        fetch('/post/delete/'+id, {method: 'get'})
        .then(async (res) => {
            if (res.status === 200) {
                document.getElementById("post-id-" + id).remove()
            } else {
                console.log("something went wrong with delete post: id = " + id)
            }
        })
        .catch(async (err) => {
            if (!err?.response) {
                console.log("something went wrong with delete post: id = " + id)
            } 
        })
    }

</script>
</body>

</html>