<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resets.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/userdetails.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>User Details</title>
</head>

<body style="background-color: hsl(218, 41%, 15%);">

    <aside class="profile-card">

        <header>

            <!-- here’s the avatar -->

                <img src="./static/images/profile.jpg">

            <!-- the username -->
            <h1>Tony Stark</h1>

            <!-- iser name and emails -->
            <h2>tony@info.com</h2>
            <h2>Username:Stark1</h2>

        </header>

        <!-- bio -->
        <div class="profile-bio">

            <p>Interested in creating nature photography.Love outdoor activitis and love to meet new people</p>
        <div class="view-port">
            <div class="images-container">
                <div class="card"><img src="./static/images/1.jpg"></div>
                <div class="card"><img src="./static/images/2.jpg"></div>
                <div class="card"><img src="./static/images/4.jpg"></div>

            </div>
        </div>

        </div>
        <button id="next">Next</button>
        <button id="prev">Prev</button>


    </aside>
    <script>
        const next = document.getElementById('next');
        const prev = document.getElementById('prev');
        const images = document.querySelector('.images-container');

        const first_card_clone = images.children[0].cloneNode(true);
        const last_card_clone = images.children[images.children.length-1].cloneNode(true);

        images.insertBefore(last_card_clone,images.children[0]);
        images.appendChild(first_card_clone);

        images.style.transitionDuration = "0.0s"
        images.style.transform = `translate(-500}px)`;
        

        let current_card = 1;

        next.addEventListener('click',() => {
            if(current_card < images.children.length - 1) {
                current_card ++;
        
                images.style.transitionDuration = "0.5s";
                images.style.transform = `translate(-${current_card * 500}px)`;
                if(current_card === images.children.length - 1){
                    setTimeout(() => {
                    images.style.transitionDuration = "0.0s";
                    images.style.transform = `translate(-$500px)`;
                    current_card = 1;
                    });

                }

            } else {
                return;
            }
        });
        prev.addEventListener('click',() => {
            if(current_card > 0) {
                current_card --;
        
                images.style.transitionDuration = "0.5s";
                images.style.transform = `translate(-${current_card * 500}px)`;
                if(current_card === 0){
                    setTimeout(() => {
                    images.style.transitionDuration = "0.0s";
                    images.style.transform = `translate(-${(images.children.length - 2)*500}px)`;
                    current_card = images.children.length - 2;
                    });

                }

            } else{
                return;
            }
        });


    </script>
</body>

</html>