<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resets.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/userdetails.css') }}">
    <title>User Details</title>
</head>

<body style="background-color: hsl(218, 41%, 15%);">

    <aside class="profile-card">

        <header>

            <!-- here’s the avatar -->

                <img src="./static/images/profile.jpg">

            <!-- the username -->
            <h1>Tony Stark</h1>

            <!-- iser name and emails -->
            <h2>tony@info.com</h2>
            <h2>Username:Stark1</h2>

        </header>

        <!-- bio -->
        <div class="profile-bio">

            <p>Interested in creating nature photography.Love outdoor activitis and love to meet new people</p>

        </div>


    </aside>
</body>

</html>